* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  scrollbar-color: #0a42da;
}

a {
  text-decoration: none;
}
html,
body {
  width: 100%;
  height: 100%;
}
#html {
  scrollbar-color: #0a42da;
}
@font-face {
  font-family: "Aeonik";
  src: url("Aeonik-Regular.ttf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "Neue";
  src: url("3856NeueMachina.woff2") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "clash";
  src: url("ClashGrotesk-Medium.ttf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Roslindale";
  src: url("Roslindale-DisplayCondensedLightItalic.ttf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "nimbus";
  src: url("nimbus-sans-l.regular.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Summer Loving";
  src: url("Summer-Loving-Regular.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("Neue-Montreal.ttf") format("opentype");
  font-display: swap;
}

#main {
  overflow: hidden;
  background-color: black;
}
#loader .box {
  overflow: hidden;
  width: fit-content;
  /* background-color: red; */
}

#loader {
  height: 100vh;
  width: 100vw;
  background-color: #000000;
  position: fixed;
  text-transform: uppercase;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box h1 {
  font-family: "Summer Loving","Roslindale";
  font-weight: 400;
  font-size: 10vw;
  z-index: 999;
 
  
}
#cover {
  overflow: hidden;
  /* background-color: red; */
}
#downer {
  display: flex;
  justify-content: center;
  align-items: center;

}

#page1 {
  height: 110vh;
  width: 100vw;
  background-color: #000;
  position: relative;
  padding: 1vw;
  overflow: hidden;
  cursor: none;
}

#follower {
  position: absolute;
  border-radius: 50%;
  background-color: #e85c0d;
  height: 15px;
  width: 15px;
  box-shadow: 0 0 15px #e85c0d, 0 0 50px #e85c0d;
  transition: left 0.2s ease-out, top 0.2s ease-out;
  mix-blend-mode: difference;
  z-index: 2;
}

#name {
  font-size: 2vw;
  margin-left: 2.5vw;
  margin-top: 0.8vw;
  font-family: "Neue Montreal";
  color: #e85c0d;
}

.overlay {
  position: absolute;
  height: 5vw;
  width: 8vw;
  z-index: 3;
  top: 0;
  background-color: transparent;
  /* background-color: red; */
}

.clock {
  height: 2vw;
  width: 5vw;
  background-color: white;
  margin-right: 5vw;
  margin-top: 1vw;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.first-h1 {
  height: 20vw;
  width: fit-content;
  overflow: hidden;
}

#Main-text h1 {
  font-size: 12vw;
  color: #fdebdf;
  font-family: "Orbitron";
  z-index: 4;
  background-image: url(https://i.pinimg.com/originals/05/7a/b2/057ab2724ab5d83bd1a7fd22bf91a71b.gif);
  background-position: center;
  color: transparent;
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
}

.Front {
  margin-top: 8vw;
  margin-left: 6vw;
}

.overlay1-container {
  position: relative;

  height: 14vw;
  width: 70vw;
  /* background-color: red; */
  margin-left: 7vw;
}

.overlay1 {
  position: absolute;
  height: 14vw;
  width: 63vw;
  top: 0;
  left: 5vw;

  z-index: 5;
}

.overlay2-container {
  position: relative;
  margin-left: 30vw;
  height: 17vw;
  width: 65vw;
}

.overlay2 {
  position: absolute;
  top: 2vw;
  right: 2vw;
  height: 13vw;
  width: 63vw;

  background-color: transparent;
  z-index: 5;
}

#Sound {
  cursor: pointer;
  height: 3vw;
  width: 6vw;
  border: 1px solid #e85c0d;
  border-radius: 6px;
  margin: 2vw;
  margin-left: 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #e85c0d;
  bottom: 8%;
  font-family: "Neue Montreal";
  gap: 1vw;
  z-index: 4;
}

#navbar {
  background-color: #e85c0d;
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translate(-50%);
  height: 4vw;
  width: 45vw;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 24;
}
#nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}


#navbar a {
  color: #000000;
  font-family: "Inter Tight","Neue Montreal";
  text-decoration: none;
  font-weight: 600;
  font-size: 2vw;
}

#home {
  display: flex;
  flex-direction: column;
 
}

.home-border-bottom {
  height: 5px;
  width: 100%;
  background-color: pink;
  border-radius: 2px;
}


#sidebar {
  position: absolute;

  top: 30%;
  left: 0%;
  color: white;
  width: 200px;
  height: 200px;
  z-index: 20;
}
#sidebar a {
  text-decoration: none;
}

#linkedin {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: fixed;
  top: 268px;
  height: 40px;
  width: 40px;
  background: #e85c0d;
  transition: width 0.4s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#linkedin i,
#insta i,
#github i,
#gmail i {
  font-size: 2em;
  padding-left: 4px;
  cursor: pointer;
}

#sidebar a {
  text-decoration: underline;
  color: white;
  margin-left: 11px;
  visibility: hidden;
  cursor: pointer;
}

#github {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

  top: 226px;
  position: fixed;
  height: 40px;
  width: 40px;
  background: #e85c0d;
  transition: width 0.4s ease-out;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#github:hover {
  cursor: pointer;
  width: 200px;
}
#github:hover a {
  visibility: visible;
  transition: all ease-in 0.8s;
}
#linkedin:hover {
  cursor: pointer;
  width: 200px;
}
#linkedin:hover a {
  visibility: visible;
  transition: all ease-in 1s;
}

#insta {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: fixed;
  height: 40px;
  width: 40px;
  top: 310px;
  background: #e85c0d;
  transition: width 0.4s ease-out;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#gmail {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: fixed;
  height: 40px;
  width: 40px;
  top: 353px;
  background: #e85c0d;
  transition: width 0.4s ease-out;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#gmail:hover {
  cursor: pointer;
  width: 200px;
}
#gmail:hover a {
  visibility: visible;
  transition: all ease-in 0.8s;
}
#insta:hover {
  cursor: pointer;
  width: 200px;
}
#insta:hover a {
  visibility: visible;
  transition: all ease-in 0.8s;
}

#page2 {
  position: relative;

  height: 100vh;
  width: 100vw;
  background-color: black;
}

#page2-skills-marquee {
  margin-top: 8vw;
  background-color: #e85c0d;
  display: flex;
  padding: 2vw 0vw;
  margin-bottom: 4vw;
  overflow: hidden;
}

.marquee {
  text-transform: uppercase;

  font-family: "Neue","Neue Montreal";
  display: flex;
  align-items: center;
  gap: 3vw;
  padding: 0 1.5vw;
  transform: translateX(-100%);
}

.marquee {
  flex-shrink: 0;
}
.marquee img {
  height: 3vw;
}

#about-heading {
  padding-top: 3vw;
  font-family: "Roslindale","Neue Montreal";
}

#about-heading h1 {
  font-size: 9vw;
  text-align: center;
  color: #e85c0d;
}

#about-para {
  margin: 3vw auto;
  
}

#about-para p {
  width: 55vw;
  margin: 2vw auto;
  font-size: 2vw;
  font-family: "Neue Montreal","Inter Tight";
  text-align: justify;
  letter-spacing: 2px;
}

.intro span {
  color: #333;
  transition: 0.4s;
  opacity: 0;
  text-shadow: 0px 0px 5px #fff, 0px 0px 10px #fff, 0px 0px 20px #fff;
}

#page3 {
  padding: 5vw 0vw;
  height: 180vh;
  width: 100vw;
  background-color: black;
  font-family: "nimbus";
  margin-bottom: 5vw;
}

.skill-heading {
  text-transform: uppercase;
  overflow: hidden;
  height: 12vw;
  width: fit-content;
  padding: 1vw;
  font-size: 4vw;
  margin-left: 24vw;

  /* background-color: #e161e8; */
}

.skill-heading h1 {
  color: #e85c0d;
  text-align: center;
  cursor: pointer;
  font-family: "Neue Montreal","Inter Tight";
}

.skill-section {
  margin-top: 3vw;
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
}

.elem {
  border-top: 1px solid #161748;
  display: flex;

  align-items: center;

  position: relative;
}

.elem h1 {
  margin: 20px;
  text-transform: uppercase;
  font-size: 4vw;
  opacity: 0.5;
  cursor: pointer;
  filter: blur(4px);
  margin-left: 4vw;
}

.orange {
  height: 2vw;
  width: 2vw;
  border-radius: 50%;
  background-color: #e85c0d;
  margin: 0vw 1.2vw;
  opacity: 0;
}
.last {
  border-bottom: 2px solid #161748;
}

.elem img {
  position: absolute;

  height: 20vw;
  width: 20vw;
  z-index: 99;
  opacity: 0;
  border-radius: 20px;
}

#page4 {
  height: 280vh;
  width: 100vw;
  font-family: "Swansea";
}


/* Projects Heading */
#projects-heading {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.section-title {
  font-size: 8vw;
  font-family: "Orbitron";
  color: lawngreen;
  text-transform: uppercase;
  text-align: center;
  padding-top: 1vw;
}

/* Project Container */
#project-container {
  width: 100%;
  height: 100%;
  padding: 6vw;
  display: flex;
  flex-direction: column;
  gap: 5vw;
}

/* Project 1 */
#food-mania {
  padding: 2vw;
  display: flex;
  justify-content: space-between;
}

#food-mania .project-image {
  margin-top: 2vw;
  height: 35vw;
  width: 45vw;
  background-color: #161748;
  border-radius: 10px;
  padding: 3vw;
}

#food-mania .project-image img {
  object-fit: cover;
  height: 29vw;
  width: 39vw;
  border-radius: 20px;
}

#food-mania .project-buttons {
  display: flex;
  justify-content: space-evenly;
  gap: 1vw;
  margin-top: 15vw;
  margin-right: 2vw;
}

#food-mania .project-button {
  height: 4vw;
  width: 12vw;
  background-color: #161748;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Neue Montreal";
}

#food-mania .project-details a {
  text-decoration: none;
  font-size: 1.5vw;
  text-transform: uppercase;
}

/* Project 2 */
#filmax {
  margin-top: 5vw;
  padding: 2vw;
  display: flex;
  justify-content: space-between;
}

#filmax .project-image {
  height: 35vw;
  width: 45vw;
  background-color: #e85c0d;
  border-radius: 10px;
  padding: 3vw;
}

#filmax .project-image img {
  object-fit: cover;
  height: 29vw;
  width: 39vw;
  border-radius: 20px;
}

#filmax .project-buttons {
  display: flex;
  justify-content: space-between;
  gap: 2vw;
  margin-top: 15vw;
  margin-right: 4vw;
}

#filmax .project-button {
  height: 4vw;
  width: 12vw;
  background-color: #e85c0d;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5vw;
  text-transform: uppercase;
  font-family: "Neue Montreal";
}

.project-title {
  text-align: center;
  width: 28vw;
  height: 10vw;
  margin-top: 1vw;
  color: white;
  font-size: 2vw;
  font-family: "Orbitron";
}

.project-title span {
  color: white;
}

/* All Projects Section */
.all-projects-container {
  margin: 6vw auto;
}

.all-projects {
  height: 5vw;
  width: 18vw;
  background-color: #e85c0d;
  font-family: "Neue Montreal";
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
}

.all-projects-link {
  color: white;
  font-size: 1.5vw;
}


#page5 {
  height: 110vh;
  width: 100vw;

  background-color: #000;
  position: relative;
  cursor: pointer;
}

.contact-us {
  display: flex;

  gap: 4vw;
}

.contactus-image {
  margin-top: 8vw;
  margin-left: 4vw;
  height: 35vw;
  width: 45vw;
}

.contactus-image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.getin {
  margin-top: 6vw;
}

.getin h1 {
  font-family: "Aeonik";
  font-size: 5.5vw;
  text-shadow: #e85c0d 0 0 12px, #007bb5 0 0 25px, #161748 0 0 25px,
    #e85c0d 0 0 25px;
}

.getin h3 {
  font-family: "Neue Montreal";
}

.text1 {
  margin-top: 2vw;
  font-size: 1.5vw;
}

.text2 {
  font-size: 1.5vw;
}

.extra-stuff {
  display: flex;
  gap: 1vw;
  margin: 1.5vw;
}

.extra-stuff i {
  font-size: 2vw;
}
.extra-stuff a {
  text-decoration: none;
}

.over {
  height: 4vw;
  width: 4vw;
  border-radius: 50%;
  padding: 0.5vw;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.my-gmail {
  width: fit-content;
  padding: 0.4vw 1vw;
  border-radius: 100px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-gmail a {
  font-size: 2vw;
}

.white-line {
  height: 3px;
  width: 42vw;
  background-color: white;
}

.animated-gif {
  margin-left: 8vw;
}



@media (max-width:480px){

   .loader{
    display: flex;
    justify-content: center;
    margin-top: 3vw !important;
    
   }
  .box{
    display: flex;
    justify-content: center;
  
  }
  .box h1{
    font-size:18vw;
    margin-left: 5vw;
    color: rgb(246, 51, 51);
  }
  #downer{
   padding: 0;
  }
#downer svg {
     height: auto;
     width: 100% !important;
}


#page1{
  height: 60vh;
}

#navbar{
  display: none;
}

#name{
  font-size:4vw;
}
#Sound{
  width: 22vw;
  height: 10vw;
  padding: 1vw;
  
}

.overlay1-container{
   margin-top: 50vw;
}

#Main-text{
  position: absolute;
  top: -20%;
 
}
.overlay2-container{
  width: fit-content;
}
#sidebar{
  display: none;
}
#page2{
  height: 50vh;
}
#page3{
  height: 70vh;
}
#page4{
  height: 70vh;
}




.elem h1{
  filter: blur(0px);
}


#projHeading{
  margin-top: 25vw;
}

#about-heading{
  margin-bottom: 6vw;
}
#about-heading h1{
   font-size: 15vw;
}

 #about-para  .intro{
  width: 95vw;
  text-align: justify;
  font-size: 4vw;
  letter-spacing: 0px;


}
.marquee h1{
  font-size: 3vw;
}
.skill-heading h1{
  font-size: 10vw;
}

.my-work{
  font-size: 1vw;
}


#page5{
  height: 30vh;
}
.contactus-image img{
  display: none;
}

.getin h1{
  font-size: 9vw;
}
.getin h3{
  font-size: 4vw;
}
.last-linkedin-icon{
  height: 6vw;
  width: 6vw;
}
.last-insta-icon{
  height: 6vw;
  width: 6vw;

}
.last-insta-icon{
}

.animated-gif img{
  visibility: hidden;
}
.white-line{
  width: 80vw;
  margin: 4vw 0vw;
}
}
